.panels {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  margin-right: 50px;
  opacity: 1;
  // transition: opacity $animation-default-easing $animation-standard-duration, flex-basis $animation-default-easing $animation-standard-duration, width $animation-default-easing $animation-standard-duration, margin-right $animation-default-easing $animation-standard-duration;
  @include transition-properties((opacity flex-basis width margin-right), $animation-default-easing, $animation-standard-duration)

  &--minimise {
    margin-right: 0;
    width: 0;
    flex-basis: 0;
    opacity: 0;
  }
}
