.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: palette('background');
  transition: opacity 500ms ease-in;

  &__interface {
    flex: 1 auto;
    height: 100vh;
  }

  &__control {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint('full') {
      flex: 0 0 100px;
    }

    &-button {
      @include svg-button('../images/arrow-back.svg');
      width: 30px;
      height: 80px;
      @include breakpoint('full') {
        width: 45px;
        height: 90px;
      }

      &--next {
        @include svg-button('../images/arrow-next.svg');
      }
    }
  }

  &-enter {
  opacity: 0.01;
    &-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }

  &-exit {
    opacity: 1;
  }

  &-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  //
  // @include group-transition-with-delay(fade, $animation-slow-duration, $animation-slow-duration)
  //
  // @include group-transition-exit {
  //   .node-list,
  //   .panels {
  //     opacity: 0;
  //     transition: unset !important;
  //   }
  // }
}

.stage-enter {
  opacity: 0.01;
}

.stage-enter.stage-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.stage-exit {
  opacity: 1;
}

.stage-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
