.stage {
  @include transition-switch(fade, $animation-slow-duration)
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &-leave {
    .node-list {
      opacity: 0;
    }
  }

  &__interface {
    flex: 1 auto;
    position: relative;
    height: 100vh;
  }

  &__control {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include svg-button('../images/arrow-back.svg');
      width: 35px;
      height: 100px;

      &--next {
        @include svg-button('../images/arrow-next.svg');
      }
    }
  }
}
